#leadership_group {
  animation: scaleIn 0.5s ease forwards;
  transform-origin: center;
}

#design_group {
  animation: scaleIn 0.6s ease forwards;
  transform-origin: center;
}

#innovation_group {
  animation: scaleIn 0.7s ease forwards;
  transform-origin: center;
}

#performance_group {
  animation: scaleIn 0.8s ease forwards;
  transform-origin: center;
}

#fullstack_group {
  animation: scaleIn 0.9s ease forwards;
  transform-origin: center;
}

@keyframes scaleIn {
  from {
    transform: translate(50%, 50%) scale(0);
  }
  to {
    transform: translate(50%, 50%) scale(1);
  }
}
