/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-weight: 400;
  font-style: normal !important; /* Force font-style normal */
  font-family: var(--font-dm-sans), sans-serif;
}

/* Fix for Safari */
@supports (-webkit-touch-callout: none) {
  body {
    font-style: normal !important; /* Ensures Safari doesn't override */
  }
}

@layer utilities {
  .card:hover .right {
    transform: rotate(12deg);
    transition: transform 0.3s ease-in-out;
  }

  .card:hover .left {
    transform: rotate(-12deg);
    transition: transform 0.3s ease-in-out;
  }

  .card > div {
    transition: transform 0.3s ease-in-out;
  }
}
