@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-weight: 400;
  font-style: normal !important;
  font-family: var(--font-afacad-flux), sans-serif;
}

@layer utilities {
  .card:hover .right {
    transform: rotate(12deg);
    transition: transform 0.3s ease-in-out;
  }

  .card:hover .left {
    transform: rotate(-12deg);
    transition: transform 0.3s ease-in-out;
  }

  .card > div {
    transition: transform 0.3s ease-in-out;
  }
}
